

html{
	background: url(../img/inspire.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.nice {
    border-style: solid;
    border-color: black;
    background-color: black;
    padding: 20px;
    border-radius: 20px;
    margin: 20px;
    height: 1000px;
}


a:link {
    color: mediumpurple;
    text-decoration: none;
}
a:visited {
    color: mediumpurple;
}
a:hover {
    color: white;
}

.soap {text-align: right;}

body{
    margin-top:50px;
    color: grey;}
.new{
    width:100%;
    height:50px;
    display:block;
    position:fixed;
    top:0;
    left:0;
    background-color: black;
    font-size: 30px;
    }
.joker{
    float:left;
    width: 100px;
    }
.nav{
    float:right;
    margin-right:10px;}
.nav ul li{
    list-style:none;
    float:left;
    }

h1 {font-family: cursive;}