{% extends 'base_template.html' %}
{% load staticfiles %}
{% block content %}
    <h1 style="font-family: cursive;font-size: 50px; text-align: center;">Welcome</h1><hr>
    <p style="font-family: jester;font-size: 20px;">Hello, this website is for people who find it hard to find inspiration. Start out by choosing
    a specific category. Then you will see a list of people who struggled before they were able to make it. An example is Ben Carson(shown below)<br><img src="{% static 'img/Ben_Carson.jpg' %}" style="height: 200px">
    Carson was born in Detroit, Michigan the son of Sonya (née Copeland), a Seventh-day Adventist; and Robert Solomon Carson, a Baptist Minister.[1] His parents were both from rural Georgia. When he was 8 years old, his parents divorced and he and his 10-year-old brother, Curtis, were raised by their mother. He attended Southwestern High School in Southwest Detroit, and graduated
        from Yale University, where he majored in premed with a minor in psychology. He received his M.D. from the University of Michigan Medical School. To continue reading his story, <a href="{% url 'ben_carson' %}">CLICK HERE</a>
    </p>




{% endblock content %}