{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <head>
    <script type="text/javascript">
<!--
var image1=new Image()
image1.src="{% static 'img/loves.jpg' %}"
var image2=new Image()
image2.src="{% static 'img/moni.jpg' %}"
var image3=new Image()
image3.src="{% static 'img/we.jpg' %}"
var image4=new Image()
image4.src="{% static 'img/four.jpg' %}"

//-->
</script>
    </head>


<body>
    <h1 style="font-family: cursive;font-size: 50px; text-align: center;">Yo</h1><hr>
<p style="text-align: center; opacity: 1">
    <img src="{% static 'img/Ben_Carson.jpg' %}" name="slide" width="400" height="400" style="opacity: 1"/>
</p>
    <script>
<!--
//variable that will increment through the images
var step=1
function slideit(){
//if browser does not support the image object, exit.
if (!document.images)
return
document.images.slide.src=eval("image"+step+".src")
if (step<4)
step++
else
step=1
//call function "slideit()" every 2.5 seconds
setTimeout("slideit()",4000)
}
slideit()
//-->
</script>



    <h2 style="font-family: jester;font-size: 40px; text-align: center; text-decoration: underline">Latest posts
    </h2>
     {{ post.title | random }}
</body>



{% endblock content %}