{% extends 'base.html' %}

{% block content %}
<head>
    <style>
        p.one {font-size: 30px; text-align: center;}
        a:hover {color: grey}
        div.w {display: inline-block ;border-color: black; border-style: solid; font-size: 30px; padding: 10px; width: 200px; text-align: center;margin-left: 30px}
        .w:hover {background-color: black;}

    </style>
</head>
{#    {% include 'include/hand.html' %}#}
    {{ user.image }}
    <p class="one">Your Username<br>{{ user.username }}<br></p>
    <div class="w">
    <a href="{% url "edit" %}">See your posts</a>
    </div>
    <div class="w">
    <a href="{% url "messages_inbox" %}">Inbox</a>
    </div>
    <div class="w">
    <a href="{% url "messages_outbox" %}">Sent</a>
    </div>
    <div class="w">
    <a href="{% url "messages_compose" %}">Compose</a>
    </div>
     <div class="w">
    <a href="{% url "messages_trash" %}">Trash</a>
    </div>
{% endblock content %}